.about 
{
    background-color: lightgray;
}

#about-me
{
    width: 90%;
    margin: 0 auto;
}

li
{
    list-style: none;
}

.first-section, .second-section, .third-section
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.logo 
{
    width: 8vw;
    height: 10vw;
    padding: 3%;
}

#me
{
    width: 200px;
    border-radius: 50%;
}

.img-of-me, #header
{   
    text-align: center;
}

@media  (max-width: 899px) { 
    .about 
    {
        padding-top: 40px;
        margin-top: -40px;
    }
}