/* styles for entire body */
html 
{
    scroll-behavior: smooth;
}

body
{
    margin: 0;
    padding: 0;
}

/* heading styles */
.intro-heading 
{
    color: white;
    position: absolute;
    z-index: 1000;
    margin: 0;
    padding-top: 19vw;
    padding-right:0em;
    padding-bottom:0em;
    padding-left: 65vw;
}

.intro-heading > h1
{
    margin: 0;
    padding: 0;
    font-size: 4vw;
    font-family: Arial, Helvetica, sans-serif;
}

/* project styles */
.projects
{
    position: absolute;
    background-color: black;
} 

.project-container
{
    padding-top: 3%;
    padding-left: 3%;
    padding-right: 3%;
}

img
{
    /* filter: grayscale(100%); */
    float: right;
    height: 26vw;
    width: 36vw;
}

p
{
    font-size: 1.2vw;
    /* font-family: Verdana, Geneva, Tahoma, sans-serif; */
    font-family: Geneva;
    color: Lavender;
    width: 50%;
    padding-top: 5%;
    /* height: 100%; */
}

img:hover
{
    transform: scale(1.1);
    filter: grayscale(0);
}

.img-and-description 
{
    padding-top: 3%;
    height: 550px;
}

h1 
{
    font-size: 2vw;
    /* font-family: Courier New, Lucida console, Monaco; */
    font-family: Optima;
    color: Lavender;
    text-align: center;
}

.img-gallery1, .img-gallery2, .img-gallery3, .img-gallery4, .img-gallery5, .img-gallery6
{
    display: none;
}

.project-img 
{
    filter: grayscale(100%);
}

.project-img.active 
{
    filter: grayscale(0);
}

